<ion-list radio-group>
  <ion-list-header>
     <ion-icon name="close" class="close" (click)="closeModal()"></ion-icon> SELECT SIZE
  </ion-list-header>
  <ion-item>
    <ion-label> S </ion-label>
    <ion-radio checked="true" value="go"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> M </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> L </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> XL </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> XXL </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>    
</ion-list>