info {
.ion-page {
    background: #fff;
}
.welcome
{
	color: #fff;
    margin-top: 60px;
    text-align: center;
}

.features
{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.tab
{
	    font-size: 21px;
    color: #fff;
    text-align: center;
    margin: 32% auto;
    margin-bottom:0px;
}

.multiple
{
    color: #fff;
    text-align: center;
    margin: 80px auto;
    font-size: 20px;
    margin-bottom: 26px;

}
ion-footer
{
    background: #f8e71c;
    text-align: center;
    padding: 12px;
    font-size: 17px;
}
.holdimage
{
     text-align: center;
}
.holdimage img
{
    width: 50px;
}
.horizontal
{
    text-align: center;
}
.horizontal img
{
     width: 85px;
}
.refresh
{
  text-align: center;  
}
.refresh img
{
        width: 26px; 
}
}
