page-cart {
    .compact .item-inner .input-wrapper ion-label {
        margin: 0 !important;
    }

    .button-clear-md-danger{

        color: #488aff;
    }

   .button-inner{

    color: #488aff;

   }
}
