<ion-content>
<ion-list radio-group>
  <ion-list-header>
    <ion-icon name="close" class="close" (click)="closeModal()"></ion-icon> SELECT QUANTITY 
  </ion-list-header>
  <ion-item>
    <ion-label> 1 </ion-label>
    <ion-radio checked="true" value="go"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> 2 </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> 3 </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> 4 </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label> 5 </ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item> 
    <ion-item>
    <ion-label> 6 </ion-label>
    <ion-radio checked="true" value="go"></ion-radio>
  </ion-item>
    
</ion-list>
</ion-content>
