page-orders {

    ion-card {
        margin: 10px 0px 10px 0px !important; 
        width: 100% !important;
    }

    .address_details p {
        font-size: 11px !important;
        line-height: 6px !important;
    }

}
